black
check-manifest
httpx
interrogate
jupyter
myst-parser
nbsphinx
pre-commit
pytest
pytest-cov
pytest-xdist
ruamel.yaml
setuptools_scm
sphinx
syrupy  # snapshot testing
tomlkit
twine
wheel
xpublish-edr
xpublish-intake-provider
xpublish-opendap
